# .gitignore

# object files
*.[oa]

# generated build files
autom4te.cache/
autoscan.log
build-aux/
INSTALL
aclocal.m4
ChangeLog
config.*
configure
configure.scan
detlibc-release
gl/
libtool
Makefile
Makefile.in
stamp-h1
.deps/
.libs/
*.l[oa]
.tarball-version
.version

# vim config files
.gvimrc

# cscope files
cscope.*

# ctags files
tags
