# .gitignore
*.[oa]
*.l[oa]
*.log
*.trs
.deps/
.gvimrc
.libs/
.tarball-version
.version
/build-aux
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
build-aux
build-aux/
config.*
configure
configure.scan
cscope.*
detlibc-release
libtool
stamp-h1
tags
