# .gitignore

atconfig
atlocal
check_buffer
package.m4
test-buffer-fread-all
test-err-dump
test-err-exit
test-err-msg
test-err-ret
test-err-sys
test-err-quit
test-socket-signal
testsuite
testsuite.log
testsuite.dir/
