# .gitignore

# gnulib-tool --vc-files misses some files
/*.h
/test-*

# gnulib-tool generated
/dummy.c
/fdopen.c
/gnulib.mk
/init.sh
/inttypes.in.h
/macros.h
/progname.c
/progname.h
/signature.h
/stdalign.in.h
/test-errno.c
/test-fdopen.c
/test-fgetc.c
/test-fputc.c
/test-fread.c
/test-fwrite.c
/test-getprogname.c
/test-init.sh
/test-intprops.c
/test-inttypes.c
/test-limits-h.c
/test-stdalign.c
/test-stdbool.c
/test-stddef.c
/test-stdint.c
/test-stdio.c
/test-stdlib.c
/test-strerror.c
/test-string.c
/test-sys_types.c
/test-sys_wait.h
/test-unistd.c
/test-vc-list-files-cvs.sh
/test-vc-list-files-git.sh
/test-verify.c
/test-verify.sh
/test-wchar.c
/test-xalloc-die.c
/test-xalloc-die.sh
/verify.h
/wchar.in.h
arg-nonnull.h
c++defs.h
gnulib.mk
progname.c
progname.h
test-errno
test-stdbool
test-stddef
test-strerror
test-string
test-string-c++
test-unistd
test-unistd-c++
test-verify
test-xalloc-die
verify.h
warn-on-use.h
