# .gitignore

# gnulib-tool --vc-files misses some files
/*.h
/sys

# gnulib-tool generated
/basename-lgpl.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getprogname.c
/getprogname.h
/gettext.h
/gnulib.mk
/intprops.h
/limits.in.h
/malloc.c
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.h
/stdbool.in.h
/stddef.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.h
/string.in.h
/stripslash.c
/sys_types.in.h
/unistd.c
/unistd.h
/unistd.in.h
/verify.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
arg-nonnull.h
c++defs.h
errno.h
errno.in.h
error.c
error.h
exitfail.c
exitfail.h
gettext.h
gnulib.mk
intprops.h
minmax.h
stdbool.h
stdbool.in.h
stddef.h
stddef.in.h
strerror.c
string.h
string.in.h
unistd.h
unistd.in.h
warn-on-use.h
xalloc-die.c
xalloc.h
xmalloc.c
